/* PC */
@media (min-width: 1024px) {

}

/* Tablet and mobile */
@media (max-width: 1023px) {
    .place-buy-btn {
        padding: 16px 16px;
    }

    .contact-form .form-control {
        padding: 16px;
    }

    .contact-info {
        font-size: 18px;
        line-height: 2;
    }

    #footer .social-list  {
        font-size: 32px;
        
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

   #header {
       overflow: hidden;
   }

    #header .mobile-menu-btn {
    display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }
    
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #nav li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        padding-top: 32px;
    }
    
    
    .form-submit-btn {
        padding: 14px 16px;
    }
    
}