/* Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

#header{
    height: 46px;
    background-color: #000;  
}

#nav li{
    display: inline-block;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
}

#nav .subnav {
    display: none;
}

#slider{
   
}

#content{

}

#footer{

}
