/* Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

#header{
    height: 46px;
    background-color: #000;  
}

/* #nav > li {
    display: block;
} */

#nav li{
    position: relative;
    display: inline-block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    padding: 0 24px;
    line-height: 46px;
    display: inline-block;
    text-decoration: none;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    /* display: none; */
    position: absolute;
    top: 100%;
    left: 0;
}

#nav .subnav a {
    color: #000;
    background-color: #fff;
}

#slider{

}

#content{

}

#footer{

}
