/* Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

html{
    font-family: Arial, Helvetica, sans-serif;

}

#main{

}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;  
    z-index: 1;
}

#nav {
    display: inline-block ;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li{
    position: relative;
    
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    padding: 0 24px;
    line-height: 46px;
    display: block;
    text-decoration: none;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    background-color: #fff;
    padding: 0 12px;
    line-height: 38px;
  
}

#nav li:hover .subnav {
    display: block;
}

.nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0px 21px;
    
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider{
   /* margin-top: 46px; */
   /* chỉ số % chiều ngang của chính nó (chiều cao lun bằng 1/2 chiều ngang) */
   position: relative;
   padding-top: 50%;
   background: url('/asset/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    /* left: 50%;
   transform: translateX(-50%); */
   text-align: center;

}

#sider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-des {
    font-size: 15px;
    margin-top: 25px;
}

#content{

}

#content .content-section {
    width: 800px;
   padding: 64px 0;
   margin-left: auto; 
   margin-right: auto;
   
}

#content .heading-section {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .heading-sub-section {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
}

#content .members-list {
    margin-top: 47px;
    /* overflow: hidden; */
}

#content .member-item{
    float: left;
    text-align: center;
    width: 33.33333%;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px ;
    border-radius: 4px;
    
}

/* tour section */

.tour-section {
    background-color: #000;
}

.tickets-list {
    margin-top: 40px;
    list-style-type: none;
    background-color: #fff;

}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ccc;
}

.tickets-list .sold-out {
    color: #fff;
    background-color: #f44336;
    padding: 4px 4px;
    margin-left: 16px;
}

.tickets-list .quanity {
    float: right;
    color: #fff;
    background-color: #000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    margin-top: -3px;
    line-height: 24px;
}

.place-list{
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
    /* ngan gon margin; 32px -8px 0; */

}

.place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

.place-img{
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-content{
background-color: #fff;
padding: 16px;
font-size: 15px;
}

.place-heading{
    font-size: 15px;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-des{
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn{

}



#footer{

}
