/* Reset Css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Quy trình làm
1. Từ ngoài vào trong
2. Từ trên xuống
3. Tổng quan đến chi tiết */

/* 
1. Vị trí
2. Kích thước ( width, height )
3. Màu sắc
4. Kiểu dáng, kiểu chữ.  */ 

/* common */

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.33333%;
}

.col-half{
    width: 50%;
}


.col-full{
    width: 100%;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}


.text-center{
    text-align: center !important;
}

.clear{
    clear:both;
}

.text-white{
    color: #fff !important;
}

html{
    /* hành vi cuộn */
    scroll-behavior: smooth;
    font-family: helvetica, arial, sans-serif;
}

/* main */

#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
               
}
#nav{
    display: inline-block;
}

#nav, .subnav{
    /* none các chấm đầu dòng */
    list-style-type: none;

}
#nav > li{
    /* hàng dọc thành hàng ngàng */
    display: inline-block;
}
#nav  li{
    
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    
    /* bỏ gach chân */
    text-decoration: none;
    /* giúp cỡ chữ cân đối với header */
    line-height: 46px;
    padding: 0 24px;
   
}
#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
    /* đổi màu ăn theo line-height : display: inline-block*/
    display: block;
}

#nav .subnav{
    /* ẩn đi phần con */
    display: none ;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    color: #000;
   padding: 0 12px;
   line-height: 38px;
}
#nav .nav-arrow-down{
font-size: 14px;
}
#header .search-bttn{
    float: right;
    padding: 0 21px;
}
#header .search-bttn:hover {
    background-color: #f44336;
  
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    cursor: pointer;
    
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content{
    
    position: absolute;
    color: #fff;
    bottom: 47px;
    width: 100%;
    text-align: center;

}

#slider .text-heading{
    font-weight: 500px;
    font-size: 24px;
    
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}


#content {

}

#content .content-section{
    width: 800px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;

}

#content .section-heading{
    /* căn nội dung chính giữa */
    text-align: center;
    font-size: 30px;
    /* giảm độ dày chữ */
    font-weight: 500;
    /* khoảng cách giữa các chữ cái */
    letter-spacing: 4px;
    
}

#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
     /* chứ nghiêng */
     font-style: italic;
     /*giảm độ trong suốt chạy từ 0 đến 1 */
    opacity: 0.6;
}

#content .about-text{
    margin-top: 25px;
    /* căn đều nội dung 2 bên */
    text-align: justify;
    /* khoảng cách giữa các dòng trong 1 nội dung */
    line-height: 1.4;
    
}

#content .member-list{
    margin-top: 47px;
  
}

/* #content .member-item{
    text-align: center;
    float: left;
    width: 33.33333%;
} */

#content .member-name{
    
    font-size: 15;
}

#content .member-img{
    margin-top: 15px; 
    width: 154px;
    /* tạo góc bo */
    border-radius: 4px;
    
}

/* tour-section */

.tour-section{
    background-color: #000;
    
}

.ticket-list{
    background-color: #fff;
    margin-top: 40px;
   

}

.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;

}

.ticket-list .sold-out{
    color: #fff!important;
    background-color: #f44336!important;
    padding: 3px 4px;
    margin-left: 16px;
    

}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    color: #fff;
    background-color: #000;
    text-align: center;
    border-radius: 50%;
    line-height: 24px;
    margin-top: -3px;
    
}

/* places */

.places-list{
    margin-top: 32px;
    /* margin-left: -8px;
    margin-right: -8px;  */
    /* vieets tawts 3 marrgin ben tren */
    
    /* padding-bottom: 48px; */

}

/* .place-item{
    float: left;
    width: 33.33333%; 
    padding: 0 8px;
} */

.place-img{
   width: 100%;
    display: block;
 
  
}

.place-img:hover{
    opacity: 0.6;
    
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    
}

.place-heading{
    font-size: 15px;
    font-weight: 500px;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-des{
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn{
    background-color: #000;
    color: #fff;
    padding: 11px 18px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
    
}



/* contact-section */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
    /* hiện viền ô: ounline: 1px solid #sđsd */
}

.contact-form .form-submit-btn:hover{
    background-color: #ccc;
    color: #000;
    border: none;
    cursor: pointer;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list{
    font-size: 24px;
}

#footer .social-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);

}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    /* căn giữa chiều cao khi có hàm display: plfex */
    align-items: center;
    /*  căn giữa hàng ngang */
    justify-content: center; 
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background-color: #009688;
    height: 129px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.modal-icon-bag{
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    opacity: 0.9;
}

.modal-close:hover {
    color: #000;
    background-color: #ccc;
}

.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets {
    text-align: center;
    width: 100%;
    background: #009986;
    border: none;
    padding: 16px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    
}

#buy-tickets:hover{
    color: #000;
    background-color: #ccc;
    
}

.modal-footer{
    padding: 16px;
    text-align: right;
    margin-bottom: 16px;
}

.modal-footer a{
    color: #2196f3;
}


@keyframes modalFadeIn {
    from{
        opacity: 0.6;
        transform: translateY(-150px);
    }
    
    to{
        opacity: 1;
        transform: translateY(0);
    }


}


