/* Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;

}

#main{

}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;  
    z-index: 1;
    
}

#nav {
    display: inline-block ;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li{
    position: relative;
    
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    padding: 0 24px;
    line-height: 46px;
    display: block;
    text-decoration: none;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    background-color: #fff;
    padding: 0 12px;
    line-height: 38px;
  
}

#nav li:hover .subnav {
    display: block;
}

.nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0px 21px;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000; 
}

#header .search-btn:hover  {
    cursor: pointer;
    background-color: #f44336;
}
#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider{
   margin-top: 45px;
   /* chỉ số % chiều ngang của chính nó (chiều cao lun bằng 1/2 chiều ngang) */
   position: relative;
   padding-top: 50%;
   background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    /* left: 50%;
   transform: translateX(-50%); */
   text-align: center;

}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-des {
    font-size: 15px;
    margin-top: 25px;
}

#content{

}

#content .content-section {
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto; 
    margin-right: auto;
    /*responsive */
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
   
}

#content .heading-section {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .heading-sub-section {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
}

#content .members-list {
    margin-top: 48px;
}



#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px ;
    border-radius: 4px;
    
}

/* tour section */

.tour-section {
    background-color: #000;
}

.tickets-list {
    margin-top: 40px;
    list-style-type: none;
    background-color: #fff;

}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ccc;
}

.tickets-list .sold-out {
    color: #fff;
    background-color: #f44336;
    padding: 4px 4px;
    margin-left: 16px;
}

.tickets-list .quanity {
    float: right;
    color: #fff;
    background-color: #000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    margin-top: -3px;
    line-height: 24px;
}

.places-list {
    margin-top: 32px;
    
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-content{
background-color: #fff;
padding: 16px;
font-size: 15px;
}

.place-heading{
    font-size: 15px;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-des{
    margin: 15px 0;
    line-height: 1.4;
}

.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    border: none;
}

.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}

/* contact form */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
    line-height: 1.5;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn {
    padding: 10px 16px;
    float: right;
    color: #fff;
    background: #000;
    border: none;
}

.form-submit-btn:hover {
    color: #000;
    background-color: #ccc;
}

.map-section img {
    width: 100%;
}

/* Footer section */

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}
#footer .copyright a {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px; 
    max-width: calc(100% - 32px);  
    min-height: 200px; 
    position: relative;
    animation: mymove ease 0.5s;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    background-color: #009688;
    min-height: 130px;
    letter-spacing: 4px;
}

.modal-tibag-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 17px 15px;
    color: #fff;
    cursor: pointer;
    
}

.modal-close:hover {
    color: #000;
    background-color: #ccc;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    padding: 11px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    width: 100%;
    color: #fff;
    background-color: #009688;
    border: none;
    padding: 19px;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

#buy-tickets:hover {
    color: #000;
    background-color: #ccc;
}

.modal-footer {
    padding: 16px;
    float: right;
    font-size: 15px;
}

.modal-footer a {
    color: #2196f3;
    cursor: pointer;
}

@keyframes mymove {
    from{
        transform: translateY(-140px);
        opacity: 0;
    }
    
    to{
        transform: translateY(0);
        opacity: 1;
    }


}